# Airflow and dependencies
apache-airflow-providers-apache-spark==4.8.1
apache-airflow-providers-amazon==8.21.0

# Data processing
pyspark==3.5.0
pandas==2.0.3
pyarrow==12.0.1

# AWS/S3 connectivity
boto3==1.26.165
botocore==1.29.165

# API and utilities
requests==2.31.0
python-dotenv==1.0.0
